.src {
    padding: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dst {
    padding: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}